/* 
** public.css 
*/

/* reset.css */
html,body,div,ul,ol,li,p,h1,h2,h3,h4,h5,h6,img,table,tr,td,dl,dt,dd,form,input{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul,li {
	list-style: none;
}
html{
	margin: 0 auto;
	width: 1280px;
	height: 720px;
}
body{
	/* margin: 0 auto; */
	width: 1280px;
	height: 720px;
    font-family: Arial,"微软雅黑";
    color: #c8cef0;
    background: url('../images/bg.png') no-repeat;
	background-size: cover;
    position: relative;
}
.detailFrame {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.clear::after {
	content: ' ';
	display: block;
	clear: both;
}
.border {
	border: 1px solid #aaa;
}
.hidden {
	display: none;
}
.control {
	position: relative;
	position: fixed;
	top: 100px;
	left: 50%;
	width: 150px;
	height: 150px;
	z-index: 9999;
}
.control div {
	width: 50px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	background: rgba(0,0,0,0.7);
	border: 1px solid #aaa;
	cursor: pointer;
}
.control #up {
	position: absolute;
	top: 0;
	left: 50px;
}
.control #left {
	position: absolute;
	top: 50px;
	left: 0;
}
.control #right {
	position: absolute;
	top: 50px;
	right: 0;
}
.control #down {
	position: absolute;
	bottom: 0;
	left: 50px;
}
.control #ok {
	position: absolute;
	top: 50px;
	left: 50px;
}
/* media.css */



/* main.css */
.main {
	width: 1162px;
	margin: 0 auto;
	padding-top: 46px;
	height: 100%;
	position: relative;
}

/* header.css */
.header {
	width: 100%;
	height: 46px;
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 46px;
}
.header-left {
	float: left;
}

.logo img:first-child{
	/* width: 240px;
	height: 35px; */
	margin-top: 9px;
}
.header-left li {
	float: left;
}
.header-left .text {
	padding-top: 8px;
	margin-left: 20px;
}
.header-left .phone  {
	font-size: 40px;
	margin-left: 30px;
	margin-right: 20px;
}

.header-left .number {
	font-size: 26px;
}
.header-right {
	float: right;
	font-size: 26px;
}
.header-right li {
	float: left;
}
.header-right .search {
	margin-right: 26px;
	padding-top: 8px;
	transition: all ease .3s;
	transform: scale(1);
}
.search .no-search {
	display: block;
}
.search .active-search {
	display: none;
}
.header-right .active {
	transform: scale(1.5);
	border: none;
}
.header-right .active .no-search {
	display: none;
}
.header-right .active .active-search {
	display: block;
}
.header-right .day, .header-right .date {
	margin-right: 20px;
}

/* file.css */
.file {
	position: absolute;
	bottom: 80px;
	left: 0;
	width: 100%;
	height: 26px;
	line-height: 26px;
	color: #7f8ab7;
}
.file ul {
	margin: 0 auto;
	width: 1067px;
	/* height: 40px;
	line-height: 40px; */
}
.file ul li {
	float: left;
	height: 33px;
	font-size: 24px;
	text-align: center;
	width: 150px;
	position: relative;
}
.file-active {
	color: #fff;
}
.file-lose {
	color: #7f8ab7;
}
.file-shadow {
	display: none;
}
.file-active .file-shadow {
	display: block;
	position: absolute;
	width: 100%;
	bottom: -30px;
	left: 0;
}
.file .ml-164 {
	margin-left: 164px;
}
.file .ml-128 {
	margin-left: 128px;
}

/* detail-wrapper */
.detail-wrapper {
	position: relative;
	/* margin-top: 100px; */
}
.detail-wrapper .back {
	font-size: 24px;
	margin-bottom: 20px;
}
.detail-wrapper .back img {
	vertical-align: middle;
}
.detail-wrapper .left, .detail-wrapper .right {
	opacity: 0;
	transition: all ease .3s;
}
.detail-wrapper .left {
	float: left;
	width: 520px;
	height: 293px;
	margin-left: 40px;
}
.detail-wrapper .left img {
	width: 100%;
	height: 100%;
}
.detail-wrapper .right {
	float: right;
	width: 560px;
	/* padding-left: 22px; */
}
.detail-wrapper .right .title {
	font-size: 24px;
	padding-left: 6px;
}
.detail-wrapper .right .info {
	margin-top: 20px;
	font-size: 22px;
}
.detail-wrapper .right .info .item {
	float: left;
	width: 120px;
	text-align: right;
	padding-right: 20px;
}
.detail-wrapper .right .info .content {
	float: left;
	width: 440px;
	padding: 0;
}
.detail-wrapper .right .info .wxtips {
	line-height: 24px;
	font-size: 20px;
	/* color: #f6fc70; */
}
.detail-wrapper .right .btns {
	margin-top: 20px;
}
.detail-wrapper .btns .btn {
	display: inline-block;
	width: 133px;
	text-align: center;
	height: 46px;
	line-height: 46px;
	border-radius: 23px;
	background: #444f72;
	font-size: 20px;
	box-sizing: content-box;
	box-shadow: 0 0 10px #90BFF4;
}
.detail-wrapper .btns .active {
	/* background: url('../images/btn-active.png') no-repeat; */
	background: linear-gradient(#54BAD5,#0F479D);
	color: #fff;
	border: none;
	box-shadow: none;
}
.detail-wrapper .cancel {
	margin-left: 40px;
}
.detail-wrapper .yuyue {
	margin-left: 40px;
}
.detail-wrapper .xudingtipModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	transition: all ease .2s;
}
.detail-wrapper .xdtipshow {
	opacity: 1;
}
.detail-wrapper  .xudingtip {
	position: absolute;
	width: 600px;
	height: 400px;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -300px;
	background: #fff;
	border-radius: 10px;
}
.detail-wrapper .xudingtip {
	padding: 20px;
	text-align: center;
	font-size: 30px;
}
.detail-wrapper  .xudingtip .title {
	font-size: 26px;
}
.detail-wrapper  .xudingtip .text {
	margin-top: 20px;
}
.detail-wrapper  .xudingtip .btn {
	margin-top: 20px;
}

/* 商品列表弹框 */
/* back */
#listWrapper {
	transition: all ease .3s;
}
#listWrapper .back {
	font-size: 20px;
}
#listWrapper .back img {
	vertical-align: middle;
	margin-right: 6px;
}
.back-active {
	transform: scale(1.5);
}
/* wrapper */
#listWrapper .wrapper {
	margin-top: 26px;
	width: 1192px;
	height: 436px;
	position: relative;
	
}
#listWrapper .page {
	width: 100%;
	height: 654px;
	padding: 10px 20px;
}
#listWrapper .page li {
	float: left;
	width: 270px;
	height: 205px;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	transition: all ease .2s;
}
#listWrapper .page li:nth-child(1), #listWrapper .page li:nth-child(2), #listWrapper .page li:nth-child(3) {
	margin-right: 13px;
}
#listWrapper .page li:nth-child(5), #listWrapper .page li:nth-child(6), #listWrapper .page li:nth-child(7) {
	margin-right: 13px;
	margin-top: 13px;
}
#listWrapper .page li:last-child {
	/* margin-top: 20px; */
}
#listWrapper .active {
	transform: scale(1.06);
	border: 3px solid #fff;
}
#listWrapper .wrapper ul li img {
	width: 100%;
	height: 100%;
}
#listWrapper .label {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 18px;
	height: 46px;
	line-height: 46px;
	background: #27283f;
	padding-left: 10px;
}

/* color */
.yellow {
	color: #f6fc70;
}

/* 模态框 */
.modelOver {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	transition: all ease .2s;
}
.modelShow {
	opacity: 1;
}
.alertBox {
	position: absolute;
	width: 600px;
	height: 300px;
	/* background: #EEF2FE; */
	/* background: rgba(0,0,0,0.3);  */
	background: url('../images/alert-bg.png') no-repeat;
	background-size: cover;
	left: 50%;
	top: 50%;
	margin-left: -300px;
	margin-top: -150px;
	border-radius: 10px;
	transform: scale(0);
	transition: all ease .3s;
	/* color: #363633;  */
	color: #fff;
	font-size: 22px;
	text-align: center;
	padding: 20px;
}
.alertBox .wxtips {
	margin-top: 20px;
	text-align: left;
}
.alertShow {
	transform: scale(1);
}
.alertBtn {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 20px;
}

/* 预约二维码 */
#qrcode {
	height: 200px;
}
#qrcode table {
	margin: 10px auto;
}
/* 加载动画 */
.load-wrapper {
	position: relative;
}
#load-wrapper {
	position: relative;
}
.loader {
	box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    width: 480px;
    height: 200px;
    align-items: center;
    justify-content: center; 
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -240px;
}
.loader-inner {
	
}

/*动画效果：ball-spin-fade-loader*/
@-webkit-keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes ball-spin-fade-loader {
  50% {
    opacity: 0.3;
    -webkit-transform: scale(0.4);
            transform: scale(0.4); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

.ball-spin-fade-loader {
  position: relative; }
  .ball-spin-fade-loader > div:nth-child(1) {
    top: 33px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0s infinite linear;
            animation: ball-spin-fade-loader 1s 0s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(2) {
    top: 22.7px;
    left: 22.7px;
    -webkit-animation: ball-spin-fade-loader 1s 0.12s infinite linear;
            animation: ball-spin-fade-loader 1s 0.12s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 33px;
    -webkit-animation: ball-spin-fade-loader 1s 0.24s infinite linear;
            animation: ball-spin-fade-loader 1s 0.24s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(4) {
    top: -22.7px;
    left: 22.7px;
    -webkit-animation: ball-spin-fade-loader 1s 0.36s infinite linear;
            animation: ball-spin-fade-loader 1s 0.36s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(5) {
    top: -33px;
    left: 0;
    -webkit-animation: ball-spin-fade-loader 1s 0.48s infinite linear;
            animation: ball-spin-fade-loader 1s 0.48s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(6) {
    top: -22.7px;
    left: -22.7px;
    -webkit-animation: ball-spin-fade-loader 1s 0.6s infinite linear;
            animation: ball-spin-fade-loader 1s 0.6s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -33px;
    -webkit-animation: ball-spin-fade-loader 1s 0.72s infinite linear;
            animation: ball-spin-fade-loader 1s 0.72s infinite linear; }
  .ball-spin-fade-loader > div:nth-child(8) {
    top: 22.7px;
    left: -22.7px;
    -webkit-animation: ball-spin-fade-loader 1s 0.84s infinite linear;
            animation: ball-spin-fade-loader 1s 0.84s infinite linear; }
  .ball-spin-fade-loader > div {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute; }


